{% set title = page.title %}
{% set description = page.description %}
{% set keywords = page.keywords %}
{% set author = page.author %}
{% extends "layout/master.html.twig" %}

{% block content %}
<h2>{{ page.heading |raw }}</h2>
<p>{{ page.intro | raw }}</p>
<p>{{ page.body | raw }}</p>
{% endblock %}
