{% set title = 'Login' %}
{% extends "layout/master.html.twig" %}

{% block content %}
<h1>Forgot Password</h1>

<div class="formContainer">
  <form action="/user/forgot" method="post">
    <input type="hidden" name="formkey" value="{{ formkey }}" />

    <div class="formGroup">

      <label for="login"><b>Enter Your Email</b></label>
      <input type="text" placeholder="Enter Email Address" name="email" value="{{ post.email }}" required>

    </div>

    <div class="formGroup">
      <button type="submit">Reset Password</button>
    </div>
  </form>
</div>
{% endblock %}
