{% set title = 'Dashboard' %}
{% extends "layout/master.html.twig" %}

{% block content %}

{% if admin == 1 %}
<p>You are logged in.</p>
<p>
<ul>
  <li><a href="/page/admin">Pages</a></li>
  <li><a href="/">Messages</a></li>
  <li><a href="/">Site Map</a></li>
  <li><a href="/">Users</a></li>
</ul>
{% endif %}
{% endblock %}
