{% set title = 'Login' %}
{% extends "layout/master.html.twig" %}

{% block content %}
<h1>Login</h1>
<p>Login to your account.</p>

<div class="formContainer">
  <form action="/user/login" method="post">
    <input type="hidden" name="formkey" value="{{ formkey }}" />

    <div class="formGroup">

      <label for="login"><b>Your Username or Email</b></label>
      <input type="text" placeholder="Enter Username" name="login" value="{{ login }}" required>

    </div>
    <div class="formGroup">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
    </div>
    <div class="formGroup">
      <button type="submit">Login</button>
    </div>
  </form>
  <div class="user-links">
    <div><a href="/user/forgot">Did you forget your password?</a></div>
    <div><a href="/user/registration">Create An Account</a></div>
  </div>
</div>
{% endblock %}
