CONTROLLERPATH="Controllers"
VIEWPATH="Views"
TWIGCACHE="tmp"
LOADERTMPDIR="tmp"

# Database
DBHOST=""
DBPORT=""
DBUSER=""
DBPASSWORD=""
DB=""

MAIL_MAILER="smtp"
MAIL_HOST=""
MAIL_PORT="587"
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION="tls"
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME=""
