# Global Variables
DEBUG=display
CONTROLLERPATH=controllers
HELPERPATH=helpers
VIEWPATH=views
TWIGCACHE=tmp
LOADERTMPDIR=tmp
SALT=MakeASalt32charactersWouldBeNice
BASEURL=http://localhost:8000/

# Docker
USEDOCKER=docker
DOCKERVOL=local
DOCKERNAME=phpframework
DOCKERIMAGE=ny/phpframework
DOCKERVER=latest
DOCKERPORT=8000
DOCKERNET=DOCKER_NETWORK_NAME_FOR_PROXY
DOCKERDB=mysql
DOCKERPHPMYADMIN=8002

# Database
DBHOST=127.0.0.1
DBPORT=8001
DBUSER=pfdbu
DBPASSWORD=ChangeThisPassword!
DB=pfdb

# Email
MAIL_MAILER=smtp
MAIL_HOST=sample.com
MAIL_PORT=587
MAIL_USERNAME=sample
MAIL_PASSWORD=samplepass
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=sample@example.com
MAIL_FROM_NAME="Sample Name"
