DEBUG="display"
CONTROLLERPATH="Controllers"
VIEWPATH="Views"
TWIGCACHE="tmp"
LOADERTMPDIR="tmp"
SALT="MakeASalt32charactersWouldBeNice"
BASEURL="http://localhost:8000/"

# Database
DBHOST="127.0.0.1"
DBPORT="3301"
DBUSER=""
DBPASSWORD=""
DB=""

# Email
MAIL_MAILER="smtp"
MAIL_HOST=""
MAIL_PORT="587"
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION="tls"
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME=""
