{% set title = 'Contact Nick Yeoman' %}
{% extends "@nytwig/master.html.twig" %}

{% block content %}
<h1>{{ title }}</h1>

<p>Please fill out the contact form below.</p>

{% if showform %}
  <div class="formContainer">

    {% if badEmail is not empty %}
      <div class="error">{{ error }}</div>
    {% endif %}

    <form action="/contact" method="post">
      <input type="hidden" name="formkey" value="{{ formkey }}" />

      <input type="text" placeholder="Your Email address" name="email" value="{{ email }}" required>
      <textarea name="message" rows="4" cols="50" placeholder="Enter your message here."></textarea>
      <input type="submit" value="Send Message" name="submit" />
    </form>
  </div>
{% else %}
  <p>Your message has been sent.</p>
{% endif %}

{% endblock %}
