{% if admin|default(false) == 'admin' %}
    {% if adminbar|default(false) == true %}
        <nav><ul>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/pages">Pages</a></li>
            <li><a href="/admin/contact">Contact</a></li>
            <li><a href="/admin/logs">Logs</a></li>
            <li><a href="/page/admincomment">Edit Comments</a></li>
            <li><a href="/user/admin">Users</a></li>
            <li><a href="/spamwords">Spam Phrases</a></li>
        </ul></nav>
    {% endif %}
{% endif %}