{% set title = 'User Registration' %}
{% extends "@nytwig/master.html.twig" %}

{% block content %}
{% if badValid is not empty %}
  <div class="error">{{ badValid }}</div>
{% endif %}
{% if goodValid is not empty %}
  <div class="message">{{ goodValid }}</div>
{% endif %}

{% if goodValid is empty %}
Check your email for a valid link.
{% endif %}

{% endblock %}
