{% set title = 'admin Pages' %}
{% extends "layout/master.html.twig" %}

{% block content %}
<h2>Admin Interface</h2>
<a href="/admin/edit/new">new page</a>
<h2>Pages to edit</h2>
<ul>
{% for page in pages %}
  <li>{{ page.title }} - <a href="/admin/edit/{{ page.id }}">{{ page.slug}}</a></li>
{% endfor %}
</ul>
{% endblock %}
