{% set title = 'Dashboard' %}
{% extends "@nytwig/master.html.twig" %}

{% block content %}
<p>Welcome Accounting</p>
<ul>
    <li><a href="/accounting/chartofaccounts">Chart Of Accounts</a></li>
</ul>
{% endblock %}
